.animaon {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
  }
  h1, p {
    font-family: 'Lato';
  }
  .main{
    background-color: rgb(250, 255, 255, 0.625);
    border-radius: 10px;
  }
 