.gfgContainer {
  margin-top: 50px;
  padding: 1rem;
  background-color: white;
  border-style:solid;
  border-radius: 15px;
  border-color: black;
  z-index: 2;
  height: 100%;
}
h1, p {
  font-family: 'Lato';
}

.main{
  background-color: rgb(250, 255, 255, 0.625);
  border-radius: 10px;
}
#Shadobox{
     position: relative;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
  }
  
  #boxshadow img {
    width: 100%;
    border: 1px solid #8a4419;
    border-style: inset;
  }
  
  #boxshadow::after {
    content: '';
    position: absolute;
    z-index: -1; /* hide shadow behind image */
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    width: 70%;
    left: 15%; /* one half of the remaining 30% */
    height: 100px;
    bottom: 0;
  }
.main{
  background-color: rgb(250, 255, 255, 0.625);
  border-radius: 10px;
}